/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
            flavor = "tap-preferred";
        };

        ltq: ltq {
            compatible = "zmk,behavior-hold-tap";
            label = "LTQ";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
        };

        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTO_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <135>;
            quick-tap-ms = <0>;
        };
    };

    macros {
        S_A_F: S_A_F {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(S) &kp LS(E) &kp LS(L) &kp LS(C) &kp LS(E) &kp LS(C) &kp LS(T) &kp SPACE &kp STAR &kp SPACE &kp LS(F) &kp LS(R) &kp LS(O) &kp LS(M) &kp SPACE>;
            label = "S_A_F";
        };

        D_P_FN: hh {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp S &kp U &kp B &kp SPACE &kp T &kp RET &kp TAB &kp D &kp E &kp B &kp U &kp G &kp DOT &kp P &kp R &kp I &kp N &kp T &kp SPACE &kp T &kp H &kp I &kp S &kp W &kp O &kp R &kp K &kp B &kp O &kp O &kp K &kp DOT &kp F &kp U &kp L &kp L &kp N &kp A &kp M &kp E &kp RPAR &kp RET &kp E &kp N &kp D &kp SPACE &kp S &kp U &kp B>;
            label = "HH";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        EN {
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E      &kp R         &kp T                          &kp Y  &kp U         &kp I          &kp O       &kp P          &kp ESC
&kp LEFT_SHIFT  &kp A  &kp S  &kp D      &kp F         &kp G                          &kp H  &kp J         &kp K          &kp L       &kp SEMICOLON  &kp BACKSPACE
&kp LCTRL       &kp Z  &kp X  &kp C      &kp V         &kp B  &mkp LCLK  &mkp RCLK    &kp N  &kp M         &kp COMMA      &kp PERIOD  &kp SLASH      &kp ENTER
                              &kp LCTRL  &kp LEFT_ALT  &mo 1  &kp SPACE  &lt 8 SPACE  &mo 2  &kp LEFT_GUI  &kp RIGHT_WIN  &kp C_MUTE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
            label = "EN";
        };

        S_CUT {
            bindings = <
&trans  &to 4      &kp LS(HOME)      &kp LC(LS(UP))    &kp LS(END)        &to 5                  &kp HOME  &kp PG_UP  &kp UP_ARROW  &kp PAGE_DOWN  &mo 3    &trans
&trans  &kp LC(A)  &kp LC(LS(LEFT))  &kp LC(LS(DOWN))  &kp LC(LS(RIGHT))  &to 6                  &kp END   &kp LEFT   &kp DOWN      &kp RIGHT      &kp SQT  &trans
&trans  &kp LC(Z)  &kp LC(X)         &kp LC(C)         &kp LC(V)          &mo 7  &trans  &trans  &kp INS   &kp LBKT   &kp RBKT      &kp BACKSLASH  &kp DEL  &trans
                                     &trans            &to 2              &to 0  &trans  &trans  &trans    &trans     &trans        &kp C_PP
            >;

            label = "S_CUT";
            sensor-bindings = <&inc_dec_kp C_PREV C_NEXT>;
        };

        N_FN {
            bindings = <
&kp CAPSLOCK  &none  &kp N7        &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0                     &kp F10  &kp F7  &kp F8  &kp F9               &kp PRINTSCREEN  &kp TILDE
&trans        &none  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp MINUS                        &kp F11  &kp F4  &kp F5  &kp F6               &kp SCROLLLOCK   &trans
&trans        &none  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL     &trans     &trans  &kp F12  &kp F1  &kp F2  &kp F3               &kp C_PAUSE      &trans
                                   &trans        &kp LALT      &trans        &kp SPACE  &trans  &to 0    &to 1   &trans  &kp LC(KP_NUMBER_0)
            >;

            label = "N_FN";
            sensor-bindings = <&inc_dec_kp LC(MINUS) LC(PLUS)>;
        };

        SETTING {
            bindings = <
&rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &ext_power EP_ON                         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&rgb_ug RGB_HUI  &rgb_ug RGB_HUD  &none            &none            &none            &ext_power EP_OFF                        &bt BT_NXT    &out OUT_USB  &out OUT_BLE  &out OUT_TOG  &bt BT_PRV    &trans
&none            &none            &none            &none            &none            &none              &trans     &trans     &bt BT_PRV    &trans        &trans        &trans        &trans        &trans
                                                   &trans           &trans           &trans             &kp SPACE  &kp SPACE  &sys_reset    &trans        &trans        &bootloader
            >;

            label = "SETTING";
        };

        GAME {
            bindings = <
&kp ESC    &kp NUMBER_1  &kp Q  &kp W   &kp E  &kp R                           &none  &kp U     &kp UP_ARROW  &kp O      &none   &to 0
&kp TAB    &kp LSHFT     &kp A  &kp S   &kp D  &kp F                           &none  &kp LEFT  &kp DOWN      &kp RIGHT  &none   &none
&kp LCTRL  &kp NUMBER_2  &kp Z  &kp X   &kp C  &kp V     &mkp LCLK  &mkp RCLK  &none  &none     &none         &none      &trans  &kp ENTER
                                &trans  &kp G  &kp LALT  &kp SPACE  &kp SPACE  &none  &none     &trans        &kp C_PP
            >;

            label = "GAME";
            sensor-bindings = <&inc_dec_kp C_PREVIOUS C_NEXT>;
        };

        MOUS {
            bindings = <
&to 0  &none  &none      &none      &none      &to 0                        &none  &none      &none      &none      &none  &none
&none  &none  &none      &none      &none      &none                        &none  &mkp LCLK  &mkp RCLK  &mkp MCLK  &none  &none
&none  &none  &kp LC(X)  &kp LC(C)  &kp LC(V)  &none  &trans     &trans     &none  &none      &none      &none      &none  &none
                         &trans     &none      &to 0  &kp ENTER  &kp ENTER  &to 0  &none      &trans     &trans
            >;

            label = "MOUS";
        };

        NUM {
            bindings = <
&kp TAB    &none  &kp HOME  &kp UP    &kp END    &kp K_CALC                  &kp PLUS         &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_MULTIPLY  &kp ESC
&trans     &none  &kp LEFT  &kp DOWN  &kp RIGHT  &to 0                       &kp MINUS        &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_SLASH     &kp BACKSPACE
&kp LCTRL  &none  &none     &none     &none      &kp KP_NUM  &trans  &trans  &kp CARET        &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DOT       &kp ENTER
                            &trans    &trans     &none       &to 0   &none   &kp KP_NUMBER_0  &none            &trans           &trans
            >;

            label = "NUM";
        };

        MT {
            bindings = <
&to 0   &to 4   &trans  &trans  &trans  &trans                      &trans  &trans      &kp C_VOL_UP  &trans      &trans  &kp C_MUTE
&trans  &trans  &trans  &trans  &trans  &trans                      &trans  &kp C_PREV  &kp C_VOL_DN  &kp C_NEXT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans  &trans      &trans        &trans      &trans  &trans
                        &trans  &trans  &trans  &kp C_PP  &kp C_PP  &trans  &trans      &trans        &none
            >;

            label = "MT";
            sensor-bindings = <&inc_dec_kp C_PREVIOUS C_NEXT>;
        };

        OH {
            bindings = <
&to 0   &S_A_F  &D_P_FN  &trans  &trans  &trans                             &kp PG_UP  &kp HOME  &kp UP    &kp END    &trans             &trans
&trans  &trans  &trans   &trans  &trans  &trans                             &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp LC(LS(MINUS))  &trans
&trans  &trans  &trans   &trans  &trans  &trans  &trans             &trans  &trans     &trans    &trans    &trans     &trans             &trans
                         &trans  &trans  &to 0   &kp LA(LC(ENTER))  &trans  &to 0      &trans    &trans    &trans
            >;

            label = "OH";
            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };
    };
};
